.App {
    height: 100% !important;

    .chakra-input {
        border-radius: 0 !important;
    }

    .chakra-textarea {
        border-radius: 0 !important;
    }

    .chakra-tooltip {
        border-radius: 0;
    }
}

body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(229, 229, 229);
}
